.Rproj.user
.Rhistory
.RData
.Ruserdata
Thumbs.db
_implementing_backends_SBC_cache
amoah_u5_short_results_prepped.rds
amoah_u5_short_results_prepped_2.rds
comp_time_eir.tiff
comp_time_vol.tiff
estimate_sim_demo_wide.tiff
estimate_sim_demo_wide_1.tiff
estimate_sim_demo_wide_2.tiff
estimate_sim_demo_wide_3.tiff
estimate_sim_demo_wide_4.tiff
estimate_sim_demo_wide_5.tiff
estimate_sim_demo_wide_6.tiff
estimate_sim_demo_wide_7.tiff
estimate_sim_demo_wide_8.tiff
hipercow
hipercow_submit.R
init
observed_sim_demo_wide.tiff
observed_sim_demo_wide_1.tiff
observed_sim_demo_wide_7.tiff
rogerson_prev_short_results_prepped.rds
rogerson_prev_short_results_prepped_2.rds
sim_seasonal_data
sim_seasonal_figs
trial_figs
trials_short_informed_prepped.rds
true_sim_demo.tiff
true_sim_demo_1.tiff
true_sim_demo_7.tiff
true_sim_demo_wide.tiff
true_sim_demo_wide_1.tiff
true_sim_demo_wide_7.tiff
# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
trials_prev_anc_plot_fits.tiff
msi_rain_combos_pres.tiff
orderly_config.yml
sim_seasonal_run_result.rds
trials_incidence_plot_pres.tiff
trials_prev_anc_plot_data.tiff
figures
data
